@import "../../node_modules/normalize.css/normalize";

body {
  cursor: default;
}

img {
  width: 100%;
  height: auto;
}

.card-img-top {
  min-height: 260px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

.navbar {
  font-family: "Karla", sans-serif;
}

.header-test {
  height: 52vh;
  background-image: url(../images/test.png);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.login,
.cart {
  height: 100vh;
  background-image: url(../images/test.png);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.login-form {
  width: 40vw;
  height: auto;
}

.checkout-form {
  width: 60vw;
  min-height: auto;
}

@media (max-width: 768px) {

  .login {
    overflow: hidden;
  }

  .login-form,
  .checkout-form {
    width: 100vw;
    height: 100vh;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.blog-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-img-top {
  max-height: 38vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-in-cart {
  height: 20vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 35%;
}

.destination-image {
  max-height: 50vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search-container {
  margin-top: -2.1875rem;
}

.cart-icon:hover {
  color: #9cc2da;
}

.favorite-icon:hover {
  color: #c55;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}

.css-10nd86i .css-1492t68,
.css-xp4uvy,
#promotionInput::placeholder,
#promotionInputMobile::placeholder {
  font-size: 0.875rem !important;
  color: #545454 !important;
}

footer {
  background-color: #e6eef6;
}

.btn-outline-primary:hover {
  color: #fff !important;
}

.react-link:hover {
  color: #fff;
  text-decoration: none;
}

.product-link:hover {
  text-decoration: none;
}

.explore-link:hover {
  text-decoration: none;
}

.thumb-image {
  cursor: pointer;
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}

.header {
  overflow: hidden;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 108vw;
  z-index: 1;
}

#field-wrapper {
  min-width: 330px;
}

svg:hover {
  cursor: pointer;
}
